.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px; 
}

.artsy-logo h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 100px;
    letter-spacing: 2px; 
    font-size: 35px; 
    color: rgb(102, 128, 212);
    flex-direction: column;
}

.login-signup{
    justify-content: flex-end;
    display: flex; 
    width: 300px; 
    background-color: white;
    align-items: center;
}

.login-signup-link-container {
    padding-right: 15px;
}

.login-signup-btn {
    color: #222222;
    line-height: 16px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #222222;
    padding: 8px;

    &.signup {
        border: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &.login {
        &:hover {
            background-color: #444444;
            color: #FFFFFF;
        }
    }

    &.header-button{
       button{
           border:0;
       }
    }

}