.product-form {

    label {
        display: block;
        h2 {
            display: inline;
        }
        font-weight: 500;
        font-size: 14px;

        input {
            display: inline;
        }
    }
}