.recently-add {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 18px;
    padding-top: 18px; 
}



.products-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
   
}

.products-grid-item {
    width: percentage(1/6);
    padding-right:20px;
    // margin: 20px; 

    &:nth-child(6n) {
        padding-right: 0px;
    }
    
    
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
       
    }

    h3 {
        color: #222222;
        font-size: 16px;
        line-height: 1.6;
        padding-bottom: 20px;
        font-weight: 540;


    }

    .add-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(233, 236, 255);
        
        height: 180px;
        h1 {
            font-weight: 600;
            font-size: 36px;
        }
        a {
            color:  rgb(102, 128, 212);
        }
    }
}

.product-container {
    display: flex; 
    padding-top: 30px;
    max-width: 1272px;
    margin: 0 auto;
}

.left-col {
    // float: left;
    width: percentage(2/3);
    padding-right: 22px;

    .product-img-full {
        max-width: 100%;
        max-height: 100%;
    }
}

.right-col {
    // float: right;
    width: percentage(1/3);

    h1 {
       font-family: 'Libre Caslon Text', serif;
       width: auto;
       color: #333;
       text-rendering: optimizeLegibility;
       display: block; 
       margin-block-start: 0.67em;
       margin-block-end: 0.67em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       font-size: 20px;
       line-height: 26px;
       font-weight: 400;
    }

    h3 {
       color: #222222;
       text-align: left;
       font-weight: 500;
       font-size: 18px; 
       margin-top: 20px;

    }    

    .free-shipping {
        display: block;
        font-size: 14px;
        color: #595959;
        text-align: left; 
        font-weight: 300;
        line-height: 1.6;
        margin-top:  20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    h2{
        font-weight: 500;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .item-details {
        font-size: 14px;
        color: #222222;
        display: block;
        text-align: left;
        line-height: 1.5em;
        margin-bottom: 20px;

    }

    .add-to-cart{

        button{

            background-color: #222222;
            color: #FFF;
            margin: 50px 0 0;
            padding: 12px 28px; 
            height: 48px;
            width: 100%; 
            border-radius: 3px;
            display: inline-block;
            font-size: 16px; 
            font-weight: 550; 

        }

    }

}

.shop-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    h2 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 12px;
    }
}

.gallery {
    width: 100%;
    display: flex;

    .thumbnails-container {
        width: 66px;
    }

    .image-thumb {
        width: 60px;
        height: 60px;
        margin-bottom: 6px;
        background: #FAF9F5;
        border-color: #E1E3DF;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .big-image {
        margin-left: 6px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.avg-rating {
    display: flex;
}

.banners-container {
     display: flex;

     .banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E9ECFF;
     

     }
     
     .slick-slider{
         width: 75%;
     }

     .slick-prev {
        display: none !important;
     }
    
    img {
        width: 100%;
        height: 380px;  
        object-fit: cover;
        display: flex; 
        
    }

    h1 {
        text-align: center;
        font-size: 2em;
        width: 80%;
        line-height: 1.35;
        font-family: 'Hepta Slab', serif;
        color: #6680D4; 
    }
}